[2015-11-30 09:06] gis-haderslev opened #1 "settings-menuen for qlr-browser"
Kan ikke finde menuen for QLR-browser. Kan vi få skærmdump?
Har prøvet det på QGIS 2.12 Lyon

[2015-11-30 09:41] AsgerPetersen commented on #1
![image](https://cloud.githubusercontent.com/assets/1392735/11468318/d4f5a7c0-974e-11e5-9c72-def014c342d5.png)

Når pluginnet er aktiveret skulle der gerne komme et menupunkt under "Plugins", som hedder "Qlr Browser".

[2015-11-30 09:56] gis-haderslev commented on #1
Har lige unpacked pluginet under flere QGIS versioner (forskellige PC maskiner)
2.8  Wien - virker ikke
2.10 Pisa - virker
2.12 - viser pluginet, men viser ikke filbrowseren, vises hellere ikke under plugins

[2015-11-30 09:57] AsgerPetersen commented on #1
Spøjst! Jeg kigger på det med det samme.

_Asger Sigurd Skovbo Petersen_
Partner, Seniorkonsulent
asger@septima.dk

## Tlf +45 9132 6944

Septima P/S
Frederiksberggade (Strøget) 28 2. tv.
1459 Kbh K
www.septima.dk
Tlf +45 7230 0672
Cvr 34 900 841

2015-11-30 10:56 GMT+01:00 Nicolai - GIS Haderslev <notifications@github.com

[2015-11-30 10:13] rastermanden commented on #1
I've added at [Test matrix](https://github.com/Septima/qgis-qlrbrowser/edit/master/README.md) to keep track of tests in different versions of QGIS against different operating systems.

[2015-11-30 10:18] AsgerPetersen commented on #1
Jeg har testet i
2.12.0 windows 64bit, 2.12.1 windows 64bit og 2.12.0 mac 64 bit, og det virker alle steder.

Har du mulighed for at installere pluginnet "First Aid", genstarte QGIS og prøve en gang til? First Aid giver nogle meget nyttige fejlbeskeder, hvis der er python-kode, som fejler.

[2015-11-30 10:26] AsgerPetersen opened #2 "Default size of settings dialog"
Settings dialog is too crammed on some screens/resolutions:
![image](https://cloud.githubusercontent.com/assets/1392735/11469213/18e17422-9755-11e5-83d4-876a20b806df.png)

[2015-11-30 11:46] gis-haderslev commented on #1
Hej igen.
Jeg har installeret FirstAid og har genstartet QGIS - så kommer værktøjet som det skal. Mærkelig.
Og jeg er sikkert jeg har genstartet QGIS også sidste gang, efter jeg har pakket pluginet ud.
Skal jeg teste på 2.8 eller dropper vi de tidligere versioner.

[2015-11-30 12:37] AsgerPetersen commented on #1
Kan du prøve at slette base directory stien under settings og genstarte QGIS. Måske holder det så op med at virke igen.

Det KAN nemlig være, at det bare tager lang tid for pluginnet at starte op, når der ikke er konfigureret en sti. I det tilfælde skal vi måske gøre noget specielt.

[2015-11-30 12:41] gis-haderslev commented on #1
(QGIS 2.12.0 Lyon)
Har gjort det. Ingen problemer.

[2015-11-30 12:45] AsgerPetersen commented on #1
Jeg tror, vi lukker sagen her. Prøv meget gerne på en anden maskine og genåbn dette issue, hvis problemet dukker op igen.

[2015-11-30 12:45] #1 closed, assigned to nobody

[2015-12-01 08:45] AsgerPetersen opened #3 "User feedback when loading layer"
Loading a qlr may take some time. Let the user know we are working on it.

Maybe use something like

[code]

[2015-12-01 09:10] AsgerPetersen opened #4 "Double click stopped working"
Double clicking an item in the tree should have same effect as toggling the checkmark

[2015-12-01 10:31] #3 closed, assigned to nobody

[2015-12-01 10:59] #4 closed, assigned to nobody

[2015-12-01 13:57] Frederikssund opened #5 "Browser can't handle qlr files with several layers defined"
![image](https://cloud.githubusercontent.com/assets/4988513/11502547/c173c9c8-983b-11e5-9835-9cb05420b907.png)

It a double whammer - The tries to raise an error , but the "raise" command result itself in an error

[2015-12-01 14:01] Frederikssund commented on #5
The text should have been:

It's a double whammer - The "legend_layersadded" function tries to raise an error, but the "raise" command itself results in an error

/Bo

[2015-12-01 14:02] AsgerPetersen commented on #5
It should work with multi layer qlr files. At least with one level of sublayers.

Does your qlr file by any chance have multiple nested levels? I didnt test that scenario.

![image](https://cloud.githubusercontent.com/assets/1392735/11502662/710507da-983c-11e5-9b7d-ec5bf5c006a0.png)

[2015-12-01 14:05] Frederikssund opened #6 "Nice to have: Remove the ".qlr" extension from the leafs in the qlr - browser window"
It's not necessary to show that the files are ".qlr" files in the qlr browser vwindow

[2015-12-01 14:07] Frederikssund commented on #5
Asger  -

I'll check i the morning...

Regards Bo

Fra: Asger Skovbo Petersen [mailto:notifications@github.com]
Sendt: 1. december 2015 15:02
Til: Septima/qgis-qlrbrowser
Cc: GIS-gruppen (Funktionspostkasse)
Emne: Re: [qgis-qlrbrowser] Browser can't handle qlr files with several layers defined (#5)

It should work with multi layer qlr files. At least with one level of sublayers.

Does your qlr fil

[2015-12-02 09:11] Frederikssund commented on #5
Hi Asger -
- Scenario 1: A qlr file that show several layers _nested_ in a group: This works witout a hitch.
- Scenario 2: a qlr file that shows 2 layers - _not_ nested in a group. This results in the above mentioned python error, _but_ the layers are shown correctly. (Sorry about my erroneous error-report :-)
- Scenario 3: a qlr file that shows several layers nested in two groups: This results in

[2015-12-02 09:38] Frederikssund commented on #5
If you change the "If blah blah blah: Raise ("Yikes")" to something like this:

[code]

It still barfs in the code, but at least it will complain about the actual error, not the raise command

[2015-12-02 10:06] Frederikssund opened #7 "No indication when you manually remove a layer generated from a multi layer qlr file"
Scenario:

1 User opens a group of nested layers using qlr-browser. The corresponding entry in qlr-browser will be checked with a black check-mark.

2 User closes _one_ (but not all) of the layers in the group opened in step 1 using the normal layer control (not the qlr-browser). This action is _not_ indicated/shown in the qlr-browser.

It might be possible to change the colour of the check-mark i

[2015-12-02 10:07] AsgerPetersen commented on #5
Yikes! This a bit embarrasing. I am glad you made it not crash at least.

I honestly didn´t know before that you could make qlr-files with multiple layers _not_ nested in a group (Scenario 2 above), so the code doesn't take ths scenario into account. It will load properly, but sync between the qlr browser and the legend will not work.

I am going to push a commit which I think fixes these issues.

[2015-12-02 10:08] #5 closed, assigned to nobody

[2015-12-02 10:25] Frederikssund commented on #5
Works as advertised..

Thanks Asger!

/Bo

[2015-12-02 10:27] Frederikssund commented on #7
I forgot to mention: I would probably categorize this issue as a "Nice to have"

[2015-12-10 12:30] AsgerPetersen opened #8 "Reload button"
Reload of browser tree.

Maybe use a reload button like in the native QGIS browser panel:
![image](https://cloud.githubusercontent.com/assets/1392735/12448393/ec6b4096-bf75-11e5-8140-f3930df705a6.png)

[2015-12-10 12:33] AsgerPetersen opened #9 "Double click may load layers double"
Double klik on check box results in double layer load.

[2015-12-10 12:34] AsgerPetersen opened #10 "Search keywords"

[2015-12-10 12:34] AsgerPetersen opened #11 "Dont search on first char"
Require at least X chars before searching

[2015-12-10 12:36] AsgerPetersen opened #12 "Number of loaded sub layers"
Show number of loaded layers in sub folders in parenthesis. Like "Kortforsyningen (2)" for two layers loaded from this dir or subdirs.

![image](https://cloud.githubusercontent.com/assets/1392735/12448687/19b74f66-bf78-11e5-85ef-c4a99ecd0dd8.png)

[2015-12-10 12:37] AsgerPetersen opened #13 "Default path should not be root"
Use for instance QGIS plugin path..

[2015-12-10 12:39] AsgerPetersen opened #14 "Disable checkbox on some dirs"
Dirs with many layers should maybe not have a checkbox.

[2015-12-10 12:57] AsgerPetersen opened #15 "Remove deprecated files"
Switching file system model has deprecated some py files. Remove these

[2015-12-10 13:32] gis-haderslev commented on #14
Maybe like a general option for all dirs under settings:
on/off - checkbox on dirs

[2015-12-11 22:11] #6 closed, assigned to nobody

[2015-12-11 22:19] Frederikssund commented on #13
Wat about using users homedir as initial directory ? It would work on Windows, Linux and Mac.

[2015-12-11 22:24] Frederikssund commented on #11
Number of characters to input before search is started could be a user configurable setting

[2016-01-04 15:02] AsgerPetersen opened #16 "Plugin crashes on first edit of base path"
Probably path is `None` when first installed.

[2016-01-14 09:25] gis-haderslev commented on #16
There are error on all attempting to **edit** base path and as consequence crashes connection between layers panel and qlr-browser :
removing layer  from layers panel does not  remove  checkbox X-mark.
and
removing checkbox X-mark does not remove layer from layers panel.

[2016-01-20 12:13] AsgerPetersen commented on #9
Also happens with a standard mouse

[2016-01-20 12:16] AsgerPetersen opened #17 "New layers should be added at the top of the layer control"
Now they are added at the bottom

[2016-01-20 12:25] AsgerPetersen opened #18 "Crash when deleting a qlr file"
Possibly only when qlr-file is used...

[2016-01-26 10:56] AsgerPetersen commented on #16
Crash on (not first) edit of basepath:
![image](https://cloud.githubusercontent.com/assets/1392735/12578857/d41ee12a-c423-11e5-9b0e-b98d77bb1760.png)

[2016-01-26 12:05] #15 closed, assigned to nobody

[2016-01-26 12:34] #16 closed, assigned to nobody

[2016-01-26 12:35] AsgerPetersen commented on #13
Fixed in 3aaf13b585543bc65bbdd82a4e597e0c84d6d1f2

[2016-01-26 12:35] #13 closed, assigned to nobody

[2016-01-26 12:38] AsgerPetersen commented on #18
@MieWinstrup are you able to reproduce this? I can't.

[2016-01-26 13:08] #10 closed, assigned to nobody

[2016-01-26 15:51] AsgerPetersen commented on #17
Hmm, we cannot control where in the QgsLayerTreeGroup the loaded qlr is placed:
https://github.com/qgis/QGIS/blob/752f6bd15066beb591058aa5201ebb38c225a112/src/core/qgslayerdefinition.cpp#L142

It will always be placed last.

Instead we need to reorder once it has been loaded _sigh_

[2016-01-27 08:59] AsgerPetersen commented on #17
Implemented as described here: http://gis.stackexchange.com/questions/134284/how-to-move-layers-in-the-qgis-table-of-contents-via-pyqgis

[2016-01-27 08:59] #17 closed, assigned to nobody

[2016-01-27 09:20] AsgerPetersen commented on #9
Grr. I can't reproduce. @MieWinstrup can you?

[2016-01-27 09:25] MieWinstrup commented on #9
@AsgerPetersen : I'll take a look at it.

[2016-01-27 10:39] MieWinstrup commented on #9
@AsgerPetersen : I can sometimes reproduce the bug if I dobbleclick on a WMS layer in the Qlr Browser while it is loading.

[2016-01-27 12:19] AsgerPetersen commented on #12
Nu fungerer det således:

![image](https://cloud.githubusercontent.com/assets/1392735/12613217/9039e6e6-c4f8-11e5-8b00-4587796cdd01.png)

[2016-01-27 12:20] #12 closed, assigned to nobody

[2016-01-27 12:53] MieWinstrup opened #19 "Decision needed: Future location of the code"
@Haderslev Kommune and Frederikssund Kommune:
Currently the code to the qlr-plugin is saved in Septima's GItHub, but where do you want the code stored in the future?

There are (at least) two possibilities:
1: Stored in Septimas GItHub (as it is now)
2: Stored in your own GitHub

What do you prefer?

[2016-01-27 13:02] AsgerPetersen commented on #9
Ok. So double clicking a slow loading item may load the content twice and loose the connection between the loaded layers and the qlr-browser.

The root cause is that when we ask QGIS to load a qlr file, it doesn't give us a handle to what it loaded. [See this line](https://github.com/Septima/qgis-qlrbrowser/blob/87b290772fb5e5175bcb788ccd7c9099a496e512/src/QlrBrowser/core/qlrmanager.py#L127).

Thi

[2016-01-27 13:12] #11 closed, assigned to nobody

[2016-01-27 13:15] gis-haderslev commented on #19
I will prefer Septimas GItHub. Vi kan anytime download the code if it is nessesary.

[2016-01-27 13:46] Frederikssund commented on #19
Leave it in Septima's part of GitHub. As long the repository remains public
Regards Bo Victor

[2016-01-27 14:02] Frederikssund commented on #14
It might be a setting for a "switch off checkbox" number under options.
0 - never show checkbox;
100000 (whatever) - Always show checkbox.
And with a default in the vicinity of 10

[2016-01-27 14:47] #8 closed, assigned to nobody

[2016-01-27 14:50] AsgerPetersen commented on #14
Hey hey, hold your horses :-) So far I have not found a way to prevent the tree from showing checkboxes on _some_ items only.

I can switch checkboxes off or on, but not do it selectively. For now - that is.

[2016-01-28 07:43] MieWinstrup commented on #19
Ok, thanks for the fast reply.

[2016-01-28 10:49] #19 closed, assigned to nobody

[2016-01-28 10:58] MieWinstrup opened #20 "Decision needed: Do you want the qlr-browser to be available in the QGIS official repository?"
@Haderslev Kommune and Frederikssund Kommune:

Do you want the Qlr-browser to be available in the QGIS official repository?

If you want this, then do you want the 'trin 1 final'-version (where the rest of the errors are corrected) to be uploaded or do you want to wait with the upload until the final-final-version (after trin 3)?

[2016-01-28 11:01] AsgerPetersen commented on #20
Bonus question: Would you like us to use the Septima account on qgis plugin repository to administrate the plugin, or would you like to have a dedicated account?

[2016-01-28 11:41] Frederikssund commented on #20
1) Yes, If possible, the plugin should be a part of the official QGIS repository
2) Upload after the 'trin 1 final' version is done. That will give us more eyeballs on the plugin for finding and correcting errors. A maybe some intelligent suggestions for improvements (you'll never know !)
3) Use the Septima account. (I have enough accounts to worry about, I don't need another one ;-)

[2016-01-28 11:45] gis-haderslev commented on #20
Totally agree with Frederikssund

[2016-01-28 11:48] MieWinstrup commented on #20
Ok. The plugin will be uploaded to the official QGIS repository when the 'trin 1 final' version is done and we will use the Septima account.

[2016-01-28 11:48] #20 closed, assigned to nobody

[2016-01-28 12:08] Frederikssund commented on #14
A question: The meaning with the 'directory' checkbox is to open (or close) every qlr file in the directory ?
Second question: If the answer for first question is yes: Will the checkbox control the behaviour of child directories ??

[2016-01-28 12:56] Frederikssund opened #21 "removal of suffix works incorrect if file name contains more than one period (.)"
If you have a file called "Yummy.qlr" it will show as "Yummy" in the browser. This is as it should be.
If you have a file called "**.**Doh.qlr" it will be shown as a line in the browser without any name (The mouse-over works though)
The error is how the plugin removes the suffix ".qlr" from the individual filenames. It searches for periods in the filename from "left-to-right". It should be searchi

[2016-01-29 12:23] Frederikssund opened #22 "User setting for ordering af qlr - files in browser tree (nice to have)"
It would be nice if it was possible to make the ordering of qlr-filenames in the browser tree a user selectable option. Like with these 4 options.
1. ascending by filename
2. descending by filename
3. ascending by file update-datetime
4. descending by file update-datetime

This would make it possible to ex. manipulate the name order in the browser tree by changing the file-times on the individual

[2016-02-03 08:38] AsgerPetersen commented on #21
Hmm, `QFileInfo(file).baseName()` does this.

I guess we will have to roll our own `basename` function then.

[2016-02-03 09:06] AsgerPetersen commented on #14
@Frederikssund We need to figure that out before I can implement it. I think it is coming in the next iteration.

For now I am just trying to find a way to disable checkboxes on dirs. It seems it is not possible to remove the checkbox on some items without removing them on all items :-/ It is possible to prevent the user from actually checking specific boxes.

[2016-02-03 09:09] AsgerPetersen opened #23 "Items should not be selectable"
I think it doesnt make sense that the items in the browser are selectable. The selection doesnt mean anything.

On the dump below what does it mean that `keyw` is selected?
![image](https://cloud.githubusercontent.com/assets/1392735/12777604/3686c220-ca5e-11e5-9c2a-83f864518a1b.png)

[2016-02-03 09:27] #14 closed, assigned to nobody

[2016-02-03 09:27] #23 closed, assigned to nobody

[2016-02-03 09:43] #2 closed, assigned to nobody

[2016-02-03 09:49] AsgerPetersen opened #24 "Publish on QGIS plugin repo"
Publish the plugin as experimental on QGIS plugin repo using Septima OSGEO user.

Tasks
- [x] Set up Makefile to make package
- [x] Brush up plugin metadata
- [x] Make english translation
- [x] Publish
- [ ] Write doc on how to publish

[2016-02-03 09:49] AsgerPetersen opened #25 "Plugin metadata"
Plugin must have sane metadata to be published on QGIS plugin repo

[2016-02-03 09:50] AsgerPetersen opened #26 "English translation"
Plugin must have English translation to be published on QGIS plugin repo

[2016-02-03 09:50] AsgerPetersen commented on #18
@MieWinstrup ?

[2016-02-03 09:58] AsgerPetersen commented on #9
@Frederikssund @gis-haderslev What to do about this? As I see it we have three possible solutions:
- Leave it as it is
- Disable double clicking
- Try to implement code which allows double clicking, but disallows fast consecutive double clicks

[2016-02-03 10:12] #25 closed, assigned to nobody

[2016-02-03 10:26] MieWinstrup commented on #18
I get the attached error message if a qlr file in the folder is deleted while QGIS with the qlr-browser is open. However, if QIS is closed and then reopened the deleted layer is removed from the qlr-browser it works fine.

![error_qlr_when_deleting](https://cloud.githubusercontent.com/assets/16276034/12779552/c6f19e16-ca68-11e5-995c-5ff6a1879d79.png)

[2016-02-03 11:42] #26 closed, assigned to nobody

[2016-02-03 11:52] Frederikssund commented on #18
A check with "os.path.isfile(qlrpath)" might solve the problem

[2016-02-03 11:57] Frederikssund commented on #9
If it's going to take a significant amount of time to sove it, I would suggest that we disable the doubleclick function for now. Not because of the money involved, but for finishing this part of the project as fast as possible. We can always return and solve this problem a later stage.

[2016-02-03 12:03] Frederikssund commented on #23
Understood, and you're right. It doesn't make sense.

[2016-02-03 12:20] gis-haderslev commented on #9
Disable double click

[2016-02-03 13:42] #18 closed, assigned to nobody

[2016-02-03 13:43] AsgerPetersen commented on #18
Now, when the user checks a qlr which no longer exist we show a warning message like "Error: The selected path no longer exists" and then we force the qlr browser to update its file tree

[2016-02-03 13:49] AsgerPetersen commented on #24
Keep an eye out for our plugin to be approved on http://plugins.qgis.org/plugins/QlrBrowser/

[2016-02-03 13:51] Frederikssund commented on #21
What about changing "QFileInfo(file).baseName()"
to "QFileInfo(file).completeBaseName()" ?

See: http://doc.qt.io/qt-4.8/qfileinfo.html#completeBaseName

(and is it possible for you to get the fix into 0.20 before uploading it to qgis official ?? )

[2016-02-03 13:59] AsgerPetersen commented on #21
Aaaah, I didn't notice that function. It should of course be that one!

The 0.2.0 package has been uploaded, so it is too late to include it. But
it is not a big problem to upload a v0.2.1 later this week :-)

_Asger Sigurd Skovbo Petersen_
Partner, Seniorkonsulent
asger@septima.dk

## Tlf +45 9132 6944

Septima P/S
Frederiksberggade (Strøget) 28 2. tv.
1459 Kbh K
www.septima.dk
Tlf +45 7230 0672

[2016-02-03 14:10] Frederikssund commented on #21
That's okay ;-)

[2016-02-03 14:46] pcav opened #27 "Activation of the plugin hangs qgis"
Once installed, the plugin is inactive. Activating it trough the plugin manager causes the system to swap, and becoming unresponsive (Debian Sid).
I'm unpublishing the plugin until the problem will be solved, as it may cause trouble to many users.
Sorry about that.

[2016-02-04 11:05] AsgerPetersen commented on #27
Hi @pcav thank you very much for reporting this. I am sorry you had to waste time on a non-functional plugin.

The issue probably is that we use the users home dir as a default root path of our qlr tree browser. And your home dir is probably larger than any tested so far.

It is too bad if we can't give the user a reasonable default setting of the root path, but maybe we will just have to write "N

[2016-02-04 11:07] AsgerPetersen commented on #27
@Frederikssund @gis-haderslev I will try to fix this bug today unless you disagree.

[2016-02-04 11:11] pcav commented on #27
Thanks for the explanation. Yes, I have a big /home.
Perhaps a popup at first activation, asking to set up a path would be good?
Anyway, the system should not hang if the user selects a too big dir.

[2016-02-04 11:56] gis-haderslev commented on #27
Fine if you can fix it. Popup "No root path configured", which is asking to set up a path, sounds good.

[2016-02-04 12:09] #21 closed, assigned to nobody

[2016-02-05 08:16] Frederikssund commented on #27
Ok - late to the party, but the fix is ok for me / bvtho frederikssund (And sorry for suggesting the home dir as a default value in the first place. I didn't think it though)

[2016-02-05 12:15] AsgerPetersen commented on #27
@pcav I think the new version uploaded yesterday should fix the problem.

[2016-02-05 12:55] pcav commented on #27
I cannot confirm. Still same problem here.

[2016-02-05 12:56] pcav commented on #27
Please reopen this - temporarily unapproving the plugin.

[2016-02-05 13:10] AsgerPetersen commented on #27
@pcav Ah, as you already have a configuration for the plugin (which unfortunately configures HOME as the base path) you are not presented with the new feature. And your QGIS still hangs.

I think this shows us, that we also need to protect the user from manually selecting a very large base directory which will hang QGIS.

Hopefully the NEXT version will be really good :-)

[2016-02-05 13:11] pcav commented on #27
Looking forward to it :)

[2016-02-06 10:21] baffioso opened #28 "Use <layername> from .qrl as title"
Could be handy to use `<layername>` as title in the QRL Browser. Seems like it's using title of the qrl-file at the moment.

[2016-02-06 11:01] NathanW2 commented on #27
@AsgerPetersen looking at your implementation.  I think you need to thread it to get any UI result from a large folder without a new thread you are always going to block looking for files.

[2016-02-07 15:32] Frederikssund commented on #28
This is _not_ dead straight simple:
- The plugin has to open and start interpreting the qlr-file to find the layername. This will cause a slowdown in showing the tree
- The qlr file can reference several layers. Which layername should it use ?
- The qlr file can reference a layergroup or layergroups instead of layers. Which name should it use ?

[2016-02-07 17:05] baffioso commented on #28
Wasn't aware that the qrl file can reference multible layers/groups. Maybe a solution could be to check if the qrl holds multible layers or groups. If this is the case: use file name else: use `<layername>`

This might though be a bit of a hassle for a small issue and a bit strange exception regarding the naming.

[2016-02-08 08:17] AsgerPetersen commented on #27
@NathanW2 Thank you very much for looking at our code!

So far we have only considered the use case where the plugin is pointing at a very shallow folder structure. Something like 100 qlr files sorted in some folders. In that case the plugin is only blocking for a very limited time while traversing the folder structure. We did not imagine the plugin being used as a "regular" file browser.

An asyn

[2016-02-08 08:28] pcav commented on #27
The problem is that the issue surfaces upon activation of the plugin, before the user has an opportunity to choose any directory.

[2016-02-08 08:46] Frederikssund commented on #27
@AsgerPetersen: Could you give me a quote on implementing a simple directory/file counter that would stop the directory/file traversing after a specific, userdefined number of files traversed ? And having a sane default value (100 ? 1000 ? 10000 ?)
And I agree with you and NathanW, that an async implementation of the file traversing would be a nice addition (next version perhaps ?)

[2016-02-08 09:06] NathanW2 commented on #27
I can have a crack at a threaded version on the train in the morning for
you.

On Mon, 8 Feb 2016 6:46 pm Frederikssund Kommune notifications@github.com
wrote:

[2016-02-08 09:50] AsgerPetersen commented on #27
@Frederikssund I have already implemented code doing exactly that. It breaks after reading 1000 file items.

@NathanW2 That is very kind of you! If you think this plugin is interesting, maybe I could convince you to have a look at something else which is making the plugin a bit shaky: Loading a qlr file using `QgsLayerDefinition.loadLayerDefinition` doesn't return a handle to the loaded node. To g

[2016-02-08 10:40] NathanW2 commented on #27
@AsgerPetersen I don't suspect so as the ids are changed when loaded.  I assume you want this so that you can turn stuff on and off?

[2016-02-08 10:48] AsgerPetersen opened #29 "More robust way to get handle of loaded layer(s)"
(Continued from #27)

Loading a qlr file using `QgsLayerDefinition.loadLayerDefinition` doesn't return a handle to the loaded node. To get a hold of the loaded node I hook in to layerTreeRoot.addedChildren. This approach is not fail safe and it feels a little dirty. See https://github.com/Septima/qgis-qlrbrowser/blob/2637ad389e085769bf193b93480e2b1db2147382/src/QlrBrowser/core/qlrmanager.py#L120-L

[2016-02-08 10:49] AsgerPetersen commented on #27
@NathanW2 Exactly! It is used to keep qlr browser and QGIS legend in sync. I have created a new issue #29 for this particular issue. Just to keep issues separated.

[2016-02-08 11:02] NathanW2 commented on #29
Have an idea.  There is nothing to say the `rootGroup` you pass into `loadLayerDefinition` has to be the project group.

Make a new stub group

[code]

[2016-02-08 11:04] NathanW2 commented on #29
In fact if you look at the code for `loadLayerDefinition` it's doing that anyway so we are just changing the root and readding into the project our self.

[2016-02-08 11:06] AsgerPetersen commented on #29
Good idea! That would also make life easier with regards to controlling where the loaded layers end up in the legend. Thank you!

[2016-02-08 11:06] NathanW2 commented on #29
Bingo :)

[2016-02-08 12:34] Frederikssund opened #30 "Search function is somewhat stupid :-)"
**The scenario**: I have a directory called "Nature Stuff". This directory contains a lot of qlr-files, where _none_ of the individual qlr-files has names containing "Nature" but obviously defines layers associated with "Nature Stuff" (hence the directory name)

**The problem**: If I use the seach function and write "Nature", the function will find the _directory_ called "Nature Stuff", but it wil

[2016-02-08 12:52] AsgerPetersen commented on #30
That does sound a bit.... sub optimal :-)

So, how _should_ directory filtering work?

When a directory name matches the filter all files directly under this directory should be included in the result. How about sub directories? Should they also be included?

[2016-02-08 13:03] Frederikssund commented on #30
"Sub optimal" has a nice ring to it  ;-) .

I would say "yes" regarding the sub-dirs: When the search function encounters a directory which satisfies the filter expression, all files and sub-dirs in the directory (plus the contents in the sub-dirs) should be included in the search result.

[2016-02-09 12:57] #27 closed, assigned to nobody

[2016-02-09 12:57] #30 closed, assigned to nobody

[2016-02-09 13:01] AsgerPetersen commented on #28
I think it is going to be confusing if the browser shows a mix between file names and something else. Conceptually, I think, this is a file browser with some added functionality.

I am going to close the issue. Please reopen it if you disagree with me.

[2016-02-09 13:01] #28 closed, assigned to nobody

[2016-02-09 19:54] AsgerPetersen opened #31 "Async file system traversal"
As discussed in #27 a threaded version of the file system recursion would improve the plugin.

Could be done like http://snorf.net/blog/2013/12/07/multithreading-in-qgis-python-plugins/

Edit 2020-12-07: Or maybe using a more recent technology https://docs.qgis.org/3.16/en/docs/pyqgis_developer_cookbook/tasks.html

[2016-02-10 12:16] AsgerPetersen opened #32 "Max recursion depth as setting"
Get value from plugin setting so it can be viewed and set at the project vars viewer

[2016-02-10 13:02] AsgerPetersen opened #33 "Only unfold to filter result"
If folder matches then unfold tree to this folder leave sub items folded

[2016-02-11 10:13] haderslev1algo opened #34 "Length of (sub)foldername"
Just a tiny thing :-): Is it possible to define the length of subfoldername from 30 to 35 signs?
Otherwise the name, which is longer than 30 signs,  is cut off in Qlr Browser overview...
![udklip1](https://cloud.githubusercontent.com/assets/14937753/12973858/fc20657a-d0af-11e5-9732-c4b51c8963f6.PNG)
![unavngivet](https://cloud.githubusercontent.com/assets/14937753/12973931/64cde4ee-d0b0-11e5-9131-

[2016-02-16 11:55] Frederikssund opened #35 "Wrong directory marker (bug)"
Scenario:  You have two directories in the qlr browser path: One called "**Powder**" and another called "**Powder and Cannon**".  If you click (activate) one ore more qlr files in directory "**Powder and Cannon**" then the directory name "**Powder and Cannon**" will be highlighted and the number of qlr files opened in the directory will be shown (as it should)

The error: However, the directory "*

[2016-02-16 11:59] Frederikssund opened #36 "File lock on directories and qlr-files when one or more users actually uses the qlr-browser (bug)"
The qlr-browser leaves a file lock on the qlr-browser directory and the qlr-files, so it's impossible for administrator to rearrange (move, delete, rename) the directories and files with the windows file-explorer (Danish: stifinder) when one ore more ordinary users has opened QGIS and the qlr-browser.
This is a serious issue. It will make it impossible to rearrange the qlr directory inside normal

[2016-02-29 09:39] Frederikssund opened #37 "Directory name get's truncated if name contains a period "." (bug)"
The issue: If a directory name contains a period, it wil be truncated with the rightmost part of the name removed.

Example: a directory name **"1.2.3 JUHU"** wil be represented in the qlr browser as **"1.2"**. However, the "hover" text  contains the correct filename.

[2016-02-29 10:18] Frederikssund commented on #37
File: filesystemmodel.py, line 47 - change to:
`self.displayname = self.fileinfo.fileName() if self.fileinfo.isDir() else self.fileinfo.completeBaseName()`

Only cursory tested....

[2016-02-29 11:20] Frederikssund commented on #36
An update - It seems that it's only _directories_, that locked by the qlr-browser application

[2016-03-01 13:38] Frederikssund commented on #22
Make a global setting :  **QLRFILESORTORDER**, which is switchable to one of the following values:

QLRFILESORTORDER = QDir.Name
QLRFILESORTORDER = QDir.Name | QDir.Reversed
QLRFILESORTORDER = QDir.Time
QLRFILESORTORDER = QDir.Time | QDir.Reversed

filesystemmodel.py, line 53 change to:
`for finfo in qdir.entryInfoList( FileSystemItem.fileExtensions , QDir.Files | QDir.AllDirs | QDir.NoDotAndDotDo

[2016-03-06 14:06] Frederikssund commented on #34
Is this not a deriative of #37  ??  As far as I can see there is no limitation of the file or directory names in browser-tree widget. It's probably the bug with periods in the directory name that causes the error in the example

[2016-03-06 14:15] Frederikssund commented on #34
Ok, just tried to create a long directory name: "**This is a very long name for a directory without any period**"
The browser showed all of the name, so this bug is simply a copy of #37

[2016-03-09 13:30] bsnizek commented on #35
Fixed and committed to https://github.com/Septima/qgis-qlrbrowser/tree/bugfix-bernie-35

[2016-03-09 14:06] bsnizek commented on #37
Fixed in branch: https://github.com/Septima/qgis-qlrbrowser/tree/bugfix-bernie-37

[2016-03-09 14:21] bsnizek commented on #34
It works in the branch where we have fixed #37.

[2016-03-09 14:39] bsnizek opened #38 "Put back "Filter" label in filter when filter is removed."

[2016-03-09 15:28] bsnizek commented on #33
Fixed in https://github.com/Septima/qgis-qlrbrowser/commit/6f6c5fc8978077b7d5e6b45cae9dfb048d74fee3

[2016-03-09 15:42] AsgerPetersen commented on #38
Doesn't the label get shown when the text box looses focus?

[2016-03-09 15:43] bsnizek commented on #38
Yes. ;)

[2016-03-09 15:43] #38 closed, assigned to nobody

[2016-03-09 16:35] bsnizek commented on #32
Settings are written and read but cannot be seen in the Project Properties | Variables dialog. Any ideas ?

[2016-03-09 16:38] AsgerPetersen commented on #32
The settings module has some sort of scope indication for each setting.
Might be that

On Wednesday, 9 March 2016, Bernhard Snizek notifications@github.com
wrote:

##

_Asger Sigurd Skovbo Petersen_
Partner, Seniorkonsulent
asger@septima.dk

## Tlf +45 9132 6944

Septima P/S
Frederiksberggade (Strøget) 28 2. tv.
1459 Kbh K
www.septima.dk
Tlf +45 7230 0672
Cvr 34 900 841

[2016-03-10 09:15] bsnizek commented on #32
I have been trying this for some time and cannot get it to work.

I have tried both this approach:

http://docs.qgis.org/testing/en/docs/pyqgis_developer_cookbook/settings.html

and this:

   http://3nids.github.io/qgissettingmanager/

The latter is already implemented in the product - a baseDirectory in the global settings is defined but this  is not shown in the variables doc.

Can we look at th

[2016-03-11 11:23] AsgerPetersen commented on #32
This is how it is done i Geosearch DK

[code]

It shows up as
![image](https://cloud.githubusercontent.com/assets/1392735/13700882/012699b4-e784-11e5-840d-1d0bafda332e.png)

It _seems_ to be basically the same approach used by qgissettingsmanager. It is implemented per type in `qgissettingsmanager/types/TYPENAME.py`. For strings:

[code]

[2016-03-11 17:35] ErlingKristensen opened #42 "Attach all qrl from folder (make it possible to select a folder)"
It would be nice if possible to check a folder and in this way to select all qrl in folder (and subfolders)

[2016-03-11 17:47] ErlingKristensen opened #43 "User sort of qrl-files in display"
It would be nice to have an option (on/off) where it would be possible to hide the first 2 (left) characters from the qrl-filename displayed in the QGIS-browser. In this way you could name files starting with number 00 to 99 - and use the 2 first characters to define the display order in QRL-browser. We would as an example like to display "Lokalplan vedtaget" before "Lokalplan forelobig" this coul

[2016-03-11 20:45] AsgerPetersen commented on #42
Yes and this feature is actually already on the road map for a future release. I don't think the road map is publicly available anywhere, but it probably should be.

[2016-03-11 20:48] AsgerPetersen commented on #43
Sorting qlr files in other ways than by file name is something we should consider.

#22 is a related issue.

[2016-03-14 09:07] Frederikssund commented on #43
I think, this is an excellent solution for the problem on how to sort qlr files other than by a "strict" alphabetical sort. You could have a global setting with a number between for example: 0-3, and with the default of "0". You don't need a on/off switch, as the value "0" would have the meaning "off"

I'm not sure how to proceed: like #22 where you manipulate the sort order with the "time-modifie

[2016-03-15 17:42] AsgerPetersen commented on #43
I think sorting by file name is better than sorting by timestamp.

Consider having 15 files being sorted by time. Now assume you need to edit the qlr being sorted as number 7. After the edit you would have to touch a whole bunch of other files in the exact correct order to make the files sort correctly again. I think this not desirable.

Using file name sorting you would just edit the file and sav

[2016-03-15 20:13] Frederikssund commented on #43
Yep, that was my (second) thought too. I'll think we should close #22 and proceed with @erlingkristensen's suggestion. I propose, that we'll have a global setting - Something like "Hide first n characters in file and directory names" with n having a value between 0 - 3. And use the alphabetic sort we have now, off course on the full names.

[2016-03-15 20:22] Frederikssund commented on #22
Close this one. Solution suggested in #43 is better.

[2016-03-16 07:57] MieWinstrup commented on #22
Issue closed as requested by @Frederikssund

[2016-03-16 07:57] #22 closed, assigned to nobody

[2016-03-16 10:28] AsgerPetersen commented on #43
What about hiding any number of numeric chars if they appear before a certain char. For instance
for `010_xxxx`
we would show `xxx`,
for `1_xxx`we would show `xxx`
but for `010xxx` we would show `010xxx`.

I think this would be a pretty flexible approach. Being forced to always prefix all files with the same number of chars seems a little cumbersome.

We could then expose this options as a checkma

[2016-03-17 10:47] Frederikssund commented on #43
Good suggestion @AsgerPetersen. No global setting, but a rule:

"If a filename or directoryname contains an integer followed by an underscore ("123_xxx.." or "5432_yyy..") the integer and underscore will be removed from the the displayed name for the file or directory in the browser tree".

[2016-03-17 10:55] Frederikssund opened #44 "Have a second root for the browser (nice to have)"
I think, it would be nice addition to have the option of a second root for the browser tree. You could use the first root for all the "official" qlr files (and making the directory behind it read-only) and have a "personal" root (where you have write access) to contain all your "personal" qlr-files.

I've been experimenting with having either symlinks or shortcuts in the directory used for the qlr

[2016-03-17 11:44] ErlingKristensen commented on #43
Only a small comment: "If a filename or directoryname **starting** with an integer followed by . . . "

[2016-03-17 12:38] AsgerPetersen commented on #43
Question: Is underscore "_" the best char for this purpose? We could also decide on another more seldomly used char. This would lower the chance of being hit by this feature by accident.

[2016-03-17 13:54] Frederikssund commented on #43
"!#$%&'()+'-;=@[]^_`{}~" can all be used (It's actually a legal directory name in windows). I would suggest somthing like
-  [123]blahblah --> blahblah
- 123~blahblah --> blahblah

All the characters in "!#$%&'()+'-;=@[]^_`{}~" is in the US ASCII table, som we shouldn't have any problems with that.

Which "special" characters is not allowed (or have a special meaning) for file- and directory names

[2016-03-17 21:08] Frederikssund commented on #43
And maybe have a global setting to either:
- choose the special character from a list - or
- have a checkbox to toggle the function on/off

[2016-04-01 09:03] #24 closed, assigned to nobody

[2016-04-01 10:47] bsnizek opened #45 "Document the product."

[2016-04-01 10:55] MieWinstrup opened #46 "Prepare Qlr-browser for QGIS 3 - implement changes in code to ease future migration to QGIS 3.0."
Implement code changes to ease the migration to QGIS 3.0.

Code changes suggested by Martin Kuhn:
http://www.opengis.ch/2016/03/23/prepare-your-plugins-for-qgis-3/

[2016-04-02 12:40] bsnizek opened #47 "Write instructions how to create a dev environment for QGIS plugins."

[2016-04-02 13:09] bsnizek commented on #47
1) Be sure to have the qt4 port installed.

[code]

2) Create a virtualenv pointing to a Python 2.7 installation

[code]

3) Activate

[code]

4) Get SIP fom the QT repo, unzip and install

[code]

5) Now get PyQT4 from Sourceforge, untar, config and install

[code]

6) Now we need Qsci

[code]

7) Now symlink to the qgis libs

[code]

8) Check whether it works.

[code]

If no exception is thrown

[2016-04-04 13:57] bsnizek commented on #34
Works here too. I close it.

[2016-04-04 13:57] #34 closed, assigned to AsgerPetersen

[2016-04-04 14:04] bsnizek commented on #35
This works now - I'll close the issue.

[2016-04-04 14:04] #35 closed, assigned to AsgerPetersen

[2016-04-04 14:26] #45 closed, assigned to nobody

[2016-04-05 09:02] MieWinstrup commented on #36
Update - the problem with not being able to change the foldernames only occur when a qlr-file is selected in the Qlr Browser. When no file is selected, but Qlr-browser is open, then it is possible to change foldername. When one file in the Qlr-browser is selected and then deselected the lock remains on the folder (and it is still not possible to change the foldername).

This lock on the folder sho

[2016-04-05 09:08] MieWinstrup commented on #36
Update - the problem with not being able to change the foldernames only occur when a qlr-file is selected in the Qlr Browser. When no file is selected, but Qlr-browser is open, then it is possible to change foldername. When one file in the Qlr-browser is selected and then deselected the lock remains on the folder (and it is still not possible to change the foldername).

This lock on the folder sho

[2016-04-05 09:13] MieWinstrup commented on #36
Update - the problem with not being able to change the foldernames only occur when a qlr-file is selected in the Qlr Browser. When no file is selected, but Qlr-browser is open, then it is possible to change foldername. When one file in the Qlr-browser is selected and then deselected the lock remains on the folder (and it is still not possible to change the foldername).

This lock on the folder sho

[2016-04-06 07:47] #33 closed, assigned to AsgerPetersen

[2016-04-06 11:09] bsnizek commented on #29
See merge request.

[2016-04-06 11:38] bsnizek commented on #43
https://github.com/Septima/qgis-qlrbrowser/pull/54

[2016-04-06 11:39] bsnizek commented on #36
Waiting for Greg to get me a WIN license.

[2016-04-06 11:41] bsnizek commented on #43
I will give the settings dlg a little more love later ...

[2016-04-08 09:21] bsnizek commented on #37
https://github.com/Septima/qgis-qlrbrowser/commit/48359faed763b114ec1ed521faf48344543c255a

[2016-04-08 10:11] #37 closed, assigned to AsgerPetersen

[2016-04-08 12:48] AsgerPetersen commented on #29
After a lot of QGIS crashes (SIGSEGV) I found out that Nathans code needs to be tweaked a bit.

Nodes added to `QgsProject.instance().layerTreeGroup()` are not allowed to be part of an existing tree (=cannot have a parent) as also stated in the [documentation](http://qgis.org/api/classQgsLayerTreeGroup.html).

So changing Nathans code to:

[code]

This seems to solve the problem.

[2016-04-08 13:05] bsnizek opened #55 "Re-enable qgissettingmanager"

[2016-04-27 11:21] #32 closed, assigned to bsnizek

[2016-04-27 12:34] #43 closed, assigned to MieWinstrup

[2016-04-27 13:13] #29 closed, assigned to AsgerPetersen

[2016-05-13 10:25] AsgerPetersen commented on #36
This is a general QGIS problem. Loading the QLR directly through QGIS menu item "Layer -> Add from layer definition file..." has the samme effect.

I have reported this to the QGIS issue tracker here: http://hub.qgis.org/issues/14811

[2016-05-13 10:42] AsgerPetersen commented on #36
I'll see if I can make a work around.

[2016-05-13 13:08] AsgerPetersen commented on #36
Work around works around the issue ;-)

[2016-05-13 13:08] #36 closed, assigned to bsnizek

[2016-05-15 09:18] pcav opened #57 "Plugin broken: ImportError: No module named qgissettingmanager"
The just upgraded plugin is unusable.

[2016-05-17 06:48] Frederikssund commented on #57
#### The full error message:

[code]

Installation : I've extracted the relevant directory from the sourcecode zipfile and copied it to the QGIS plugin directory.
Versions:  Windows 7/64 bit, QGIS 2.8.2 64 bit

[2016-05-17 07:10] Frederikssund commented on #57
The obvious error is that the "qgissettingmanager" subdirectory in the "QlrBrowser" directory is empty.

[2016-05-17 07:16] AsgerPetersen commented on #57
It is caused by us switching qgissettingsmanager from a regular sub directory to a Git submodule. Submodules apparently dont get checked out with `git archive`. And I didnt think of this as a potential problem.

In our tests we just copy the new version on top of the old. This method obviously doesn't catch files disappearing.

We have a large improvement potential :-)

[2016-05-17 07:21] Frederikssund commented on #57
If you take the contents of "Septima\qgisettingmanager" and copy it to the empty directory the qlrbrowser plugin works. And the day you don't improve, you're dead !!  ;-)

[2016-05-17 09:58] AsgerPetersen commented on #57
This should be fixed in version 0.2.5 which I have just uploaded for approval.

At the same time I have disapproved version 0.2.4, so users dont get this version anymore.

@Frederikssund I prefer to have automated build and packaging. Copying files around manually will eventually lead to broken packages *cough*

[2016-05-17 09:58] #57 closed, assigned to nobody

[2016-05-17 10:02] Frederikssund commented on #57
Yeah, right, tell me about it ;-)
(It's known a "the DOS attitude": It's GOTTA WORK !! - somehow)

[2016-06-22 12:12] #46 closed, assigned to MieWinstrup

[2016-06-22 12:12] #55 closed, assigned to nobody

[2016-06-22 12:13] #47 closed, assigned to nobody

[2016-08-27 11:07] Frederikssund opened #58 "Filtered results is shown with full file- and directory names"
When you use the filter function the resulting directory tree contains full names of files and directories, even if "Hide numeric prefix" check in settings is checked; i.e: If you have a file called "123~yabba.qlr" it will _not_ be shown as "yabba" but as "123~yabba".

The problem is _probably_ caused by the method  "FileSystemItem.filtered" in module core/filesystemmodel.py, lines 83 - 111. There

[2016-09-08 07:20] reginaldc opened #59 "qlr layers based on shapefiles give a datasource is not valid error"
Hi,

After adding several qlr files to the folder I noticed that the files that are based on shapefiles don't work anymore. Also the files that are based on tiffs or sids stopped working. The qlr files that are based on WMS or database connection still work. What could be the cause of this?
I posted the errormessages in the qgis-user maillist.

Regards,

[2016-09-08 07:26] baffioso commented on #59
@reginaldc Try setting your path to absolute in Project Properties (Ctrl+Shift+P) and save the qlr again.
![image](https://cloud.githubusercontent.com/assets/7534153/18340588/1865bca8-75a6-11e6-8d2f-9de34f5430ea.png)

Hope it works

[2016-09-08 08:12] reginaldc commented on #59
Hi Anders,

Thanks. That solved it ☺

Regards,

Reginald Carlier
Deskundige GIS

[http://www.ingelmunster.be/ingelmunster.gif]

Gemeente Ingelmunster, Oostrozebekestraat 4, 8770 Ingelmunster
T +32 51 33 74 39 www.ingelmunster.behttp://www.ingelmunster.be

[http://www.ingelmunster.be/fb.jpg]https://www.facebook.com/Ingelmunster/ [http://www.ingelmunster.be/go.jpg] https://plus.google.com/+ingelmuns

[2016-09-15 08:36] baffioso opened #60 "Throw error when layer is not added to map"
Our users doesn't always have access to our PostgreSQL db due to connection problems at the moment. When they try to add a "dead" layer from QLR-browser it appears in the Layers Panel (without geometry signature), but nothing is added to the map. Would be handy for the users if get an error message, when this happens.

[2016-09-15 09:56] Frederikssund commented on #60
@baffioso , what happens if you add the qlr file manually (Menu "Layer" -> "Add from layer definition file") and you have the same situation with the database ?

[2016-09-15 13:51] baffioso commented on #60
@Frederikssund It's the same. No error when adding a layer

[2016-09-16 07:16] MieWinstrup commented on #59
@baffioso thanks for helping, since it's solved, I will close this issue.

[2016-09-16 07:16] #59 closed, assigned to nobody

[2016-09-16 07:20] MieWinstrup commented on #58
@Frederikssund thanks for reporting!

[2016-09-16 08:30] Frederikssund commented on #60
@baffioso - It probably means the problem isn't solveable by changing the python code for the plugin. It's a bug in the main QGIS code. I'll make a test in my own environment and report it as a bug in QGIS.

[2016-09-16 09:15] baffioso commented on #60
Thanks

[2016-09-16 09:22] Frederikssund commented on #60
@baffioso - I've just made a check by creating a qlr file that refer to a SQL server based layer. After creating the qlr file, I maually edited the qlr-file and changed the definition of the databasename to a non existing database (emulating a non-responsive database ) and tried to reopen the edited qlr file in Qgis. The result was:
1. A new layer in the layer selector with the right name, but no

[2016-09-16 09:25] MieWinstrup commented on #60
@Frederikssund thanks for reporting!

[2016-09-17 08:13] Frederikssund commented on #60
Error reported on QGIS buglist as : [http://hub.qgis.org/issues/15574](http://hub.qgis.org/issues/15574)

[2016-09-27 08:06] gis-haderslev opened #61 "Fail to load multilayer qlr file"
When user opens a group of nested layers using qlr-browser:
1.) group-layer appears in Layers Panel but are not drawn
2.) casts Error and close QGIS on 'Remove layer' or 'Zoom to layer'

[2016-09-28 07:52] MieWinstrup commented on #60
I will close this issue for now since it's a bug in QGIS-main-code. If this still is a problem when the bug is fixed in QGIS, this issue should be reopened.

[2016-09-28 07:52] #60 closed, assigned to nobody

[2016-09-30 11:10] Frederikssund commented on #61
It might be a special case of #59 or #60. There is workaround for #59 and #60 is a general problem for Qgis, i.e not specific for Qlr-Browser.

Is it all your qlr files - that contains layergroups - that behaves likewise ?

[2016-10-04 09:27] dikkri commented on #61
Our problem was like this:
Qlr files that are based on shapefiles didn't work. Also the files that are based on tiffs stopped working. The qlr files that are based on WMS or database connection still work.

Setting the path to absolute in Project Properties (Ctrl+Shift+P) and saving the qlr again solved the problem.
I will close this issue.

[2016-10-04 10:40] #61 closed, assigned to nobody

[2017-05-22 11:47] MieWinstrup commented on #58
@Frederikssund
Is it correct that the issue is that if the QLR-browser is configured to hide '01~' and this part of the qlr-name is hidden in the qlr-browser:
![qlr_githubissue58](https://cloud.githubusercontent.com/assets/16276034/26307354/5a436478-3ef4-11e7-93c4-72b2de7f930b.png)

But when using the filtering option, the full qlr-name is shown:
![qlr_githubissue58_2](https://cloud.githubusercont

[2017-05-22 11:54] Frederikssund commented on #58
Hi Mie -
I assume, you asked me a question. In that case: The answer is "Yes".
The QLR browser search function does not respect the "Hide numeric prefixes..." choice made by the user

[2017-12-14 14:07] Jakob-Lanstorp opened #62 "QGIS 2.18.15 error - layers not loading"
It seems like the Qlr Browser is not working with the latest QGIS 2.18.15 (downloaded Dec 14th 2017). The layers do not load when checked. The is no log message for diagnostic in the log message panel.

[2017-12-14 15:11] MieWinstrup commented on #62
@Jakob-Lanstorp, thanks for reporting the problem.
I have the same problem.

[2018-01-04 15:43] ArtificialTruth commented on #62
I can confirm this issue.
Running Windows 7 Enterprise 32bit.

| QGIS-version             | 2.18.15          | QGIS-koderevision  | ac2d111ed1             |
|--------------------------|------------------|--------------------|------------------------|
| Kompileret mod Qt        | 4.8.6            | Kører mod Qt       | 4.8.6                  |
| Kompileret mod GDAL/OGR  | 2.2.3            | Kører m

[2018-01-24 13:01] danielarnason commented on #62
Er der noget nyt angående det her issue?

Jeg oplever det samme i QGIS 2.18.16

[2018-01-25 11:31] gis-haderslev commented on #62
We have the same problem in QGIS 2.18.16

[2018-01-25 14:08] MieWinstrup commented on #62
Der er sket mange ændringer fra QGIS 2.18.14 til QGIS 2.18.15. Vi går igang med at undersøge hvorfor man ikke længere kan tilføje lag fra qlr-browseren. I får besked om hvad vi finder ud af.

[2018-01-25 14:47] ArtificialTruth commented on #62
Appriciate it Mie!

[2018-02-12 13:04] MieWinstrup opened #63 "Change from experimental to not experimental in metadata.txt (when the plugin works in QGIS 2.18.15+)"
When the plugin works in QGIS 2.18.16, then metadatatext (https://github.com/Septima/qgis-qlrbrowser/blob/master/src/QlrBrowser/metadata.txt) should be changed from  experimental=True to experimental=False.

[2018-02-12 13:24] MieWinstrup opened #64 "Control the order of layers selected in the qlr-browser"
Improvement suggestion from Novafos Forsyning:
When you select more layers at once from the qlr-browser, it would be useful if these layers are added to the layer panel in the following order:

1. Raster layers (if any rasterlayer(s) is/are selected in the qlr-browser)
2. Polygon layers (if any polygon layer(s) is/are selected in the qlr-browser)
3. Line layers (if any line layer(s) is/are selecte

[2018-02-16 11:37] #62 closed, assigned to nobody

[2018-02-16 13:16] MieWinstrup commented on #63
Done

[2018-02-16 13:16] #63 closed, assigned to NicolaiLolansen

[2018-02-16 13:17] MieWinstrup commented on #62
A new version of the plugin (1.0.0) have been uploaded to the QGIS Plugin Repository for approval.

[2018-03-26 08:30] baffioso opened #66 "Plugin migration to QGIS 3"
Have there been done any work on migrating QLR-browser to a QGIS3 plugin? Ballerup Kommune could be interested initializing this.

[2018-03-26 08:46] MieWinstrup commented on #66
We haven't looked into migrating the QLR-browser yet.

I'm wondering if it would be an idea to have an online meeting about the migration to QGIS3 and discussing if there are additions or changes to the QLR-browser, that should be implemented with the new version, such as:

**Improvements:**
- Improving speed (#31)

**Bug fixes**
- Solving the bug with displayed filtered layers (#58 )

**New featu

[2018-04-06 12:57] MieWinstrup opened #67 "Move settings to Options in the general QGIS Setting-menu"
Integrate the settingsdialog:
![image](https://user-images.githubusercontent.com/16276034/38422341-ab487f0a-39aa-11e8-8e00-29d3e0d0ae8b.png)

In the Option dialog (found under the general QGIS Setting-menu:
![image](https://user-images.githubusercontent.com/16276034/38422294-7d5e83aa-39aa-11e8-9066-f4896c71268c.png)

[2018-04-06 12:59] MieWinstrup opened #68 "Integrate qlr-browser with locator (the new search field)"
Make qlr-files from the qlr-browser searchable (and 'addable') in the locator in QGIS 3 (the search field in the lower left corner of QGIS).

![image](https://user-images.githubusercontent.com/16276034/38422467-250ade82-39ab-11e8-9b6d-fc68d3d52488.png)

[2018-04-10 13:57] gis-haderslev commented on #66
Haderslev Kommune is also interested in QLR-browser as a QGIS3 plugin.

[2018-04-20 08:14] MieWinstrup opened #69 "Bedre ikon til qlr-browseren"
Ikonet skal forbedres.
Det kunne fx være et ikon, der viser ikonet for qlr-filer samt en lup eller noget i den stil.

Dette ikon skal bruges følgende steder:
- [ ] I Plugin Repository - når pluginet er downloadet
- [ ] Ud for fanen i indstillingsdialogen.

**Input til ikon**
Qlr-ikon:

![image](https://user-images.githubusercontent.com/16276034/41397669-3ca383ba-6fb5-11e8-9481-b8289af6d291.png)

!

[2018-05-16 09:35] MieWinstrup commented on #66
Til orientering til andre, der følger denne tråd:
Vi holder et onlinemøde om konvertering af QLR-browseren til QGIS 3 i morgen kl 11. Skriv til mig (mie@septima.dk) hvis I er interesseret i at deltage i mødet.

[2018-06-20 09:12] MieWinstrup opened #70 "More descriptive dialog when a layer from the qlr-browser is added"
The current dialog when a layer is added from the qlr-browser to the layer panel:
![image](https://user-images.githubusercontent.com/16276034/41648875-63d1bef6-747a-11e8-9131-0b1ddc1ef234.png)

It would be more descriptive if the text in the dialog was something like:
'Qlr-browser: Adding qlr-file to the layer panel '
And in the Danish version: 'Qlr-browser: Tilføjer qlr-fil til lagpanelet'

[2018-06-20 09:16] MieWinstrup opened #71 "Better handling of errors when qlr-files have been changed in the main folder"
If the name of a qlr-file is changed, and the user forgets to reload the qlr-browser, but try to add the layer. The resulting error is this:
![image](https://user-images.githubusercontent.com/16276034/41649167-2d3eaccc-747b-11e8-9097-a46b1db8504b.png)

It would be more user friendly if a dialog is shown in these situations which suggest the user to reload the qlr-browser and try again.

This dialo

[2018-06-22 15:58] #67 closed, assigned to nobody

[2018-06-22 15:59] #71 closed, assigned to klavspc

[2018-06-22 15:59] #70 closed, assigned to klavspc

[2018-06-22 15:59] klavspc commented on #70
Translation TBD

[2018-06-22 16:01] klavspc opened #72 "Options->Browse should open in previous folder"
This it how opens:
![image](https://user-images.githubusercontent.com/3736091/41786587-34d1fb48-7646-11e8-99c0-470842eff0d5.png)

[2018-06-22 16:02] klavspc commented on #72
Fixed
![image](https://user-images.githubusercontent.com/3736091/41786641-5a7dbe7c-7646-11e8-80a2-71bd4cf2fbd8.png)

[2018-06-22 16:02] #72 closed, assigned to klavspc

[2018-07-25 20:38] #58 closed, assigned to nobody

[2018-07-30 06:48] reginaldc opened #74 "Settings dialogue of qlr-browser is missing in QGIS 3.2"
Hi,

Thanks for this usefull plugin. I used it a lot in QGIS 2.18.
When I installed it in QGIS 3.2 I didn't find the settings dialogue. Where can I set the root folder of the qlr-browser?

Regards,

[2018-07-30 06:56] reginaldc commented on #74
Some additional information:
This is the error when I click in the file-browser:

QlrBrowser\ui\dockwidget.py", line 161, in _treeitem_doubleclicked
              if item.fileitem.isdir:
             AttributeError: 'QTreeWidgetItem' object has no attribute 'fileitem'

[2018-07-30 07:01] reginaldc commented on #74
Update

I found the place where the settings are integrated.
Nice to have them in the options panel

:+1:

[2018-08-08 09:43] MieWinstrup commented on #74
Good to hear that you like the plugin - and found the settingsdialog.
I assume it solved your problem - and I can close this issue?

[2018-08-08 09:44] MieWinstrup commented on #69
New icon in version 2.0.1 (f1f1f0f). Issue is closed.

[2018-08-08 09:44] #69 closed, assigned to nobody

[2018-08-08 09:46] MieWinstrup commented on #66
The plugin is upgraded to QGIS 3, and released to QGIS Official Plugin Repository as version 2.0.1 (f1f1f0f). Issue is closed.

[2018-08-08 09:46] #66 closed, assigned to nobody

[2018-08-08 13:07] baffioso commented on #66
Nice

[2018-08-09 13:03] #74 closed, assigned to nobody

[2018-08-09 13:53] reginaldc commented on #74
Indeed,

Regards,

[2018-08-21 11:16] reginaldc opened #75 "qlr file doesn't show up in QGIS 3.2"
Hi,

When I make a qlr file from a shape file and put it in the library using QGIS 3.2, it doesn't show any features when it's loaded. In the layer pane I see the loaded layer without any styling aplied to it.
I compared the qlr file to other qlrfiles that load well I noticed that the path was wrong:
this works: <datasource>F:\Ingelmunster\ROP\ROP2013.shp</datasource>
this fails: <datasource>../..

[2018-08-21 11:24] reginaldc commented on #75
Just some more information:
F:\ is a network drive that is mounted on \\someserver\data\data

[2018-08-21 13:45] MieWinstrup commented on #75
Are you able to add the qlr-file to QGIS without using the Qlr-browser?

[2018-08-23 08:05] MieWinstrup commented on #75
@reginaldc - Thanks for reporting the issue.

It seems like a change (bug?) in the way QGIS stores qlrfiles in QGIS 3.2: Even though the project settings is changed to absolute paths, this setting is not applied to the qlrfile (as it was in QGIS 2.18).

I have reported this as a bug in QGIS Issue tracker:
https://issues.qgis.org/issues/19672

[2018-12-05 14:55] reginaldc opened #76 "qlr of geopackage is not showing"
Hi,

I noticed that qlr files generated from geopackages fail in the qlrbrowser.

<layer-tree-layer id="Cadmap_Kadastrale_Gebouwen_2018_55e1d77c_eb62_4598_9802_6c20f5ed92b7" checked="Qt::Checked" source="/srvgis/data/data/Gis/Cadmap/2018/Cadmap2018.gpkg|layername=Cadmap_Kadastrale_Gebouwen_2018" providerKey="ogr" expanded="1" name="Cadmap_Kadastrale_Gebouwen_2018">

This is my source definition. W

[2018-12-05 17:07] MieWinstrup commented on #76
It works fine for me - as long as I create the qlr-file with QGIS 2.18

[2018-12-06 07:34] reginaldc commented on #76
I can confirm that it works with QGIS 2.18.
In the attached zip you can see what QGIS 3.4.2 makes with the same data and also with absolute paths.
[qlr.zip](https://github.com/Septima/qgis-qlrbrowser/files/2652090/qlr.zip)

Regards,

[2019-03-08 12:46] ghost opened #77 "Problems wih relative path in .qlr-files (bug?)"
Hi
I'm testing the qlr-browser in QGIS 3.6 (OSGeo4W-dist on a Windows 10 64 bit machine), and it seems like qlr-browser is having problems with relative paths in the qlr-files. If the layer (a shp-file) is located in the same drive as the qlr-browser root-path, and I'm saving the layer as a qlr-file, QGIS uses a relative paths in the qlr-file. And when I try to open this qlr-file with qlr-browser,

[2019-03-18 11:42] AsgerPetersen commented on #77
Hi @koetter

Absolute paths has always been a requirement for the qlr-browser to work.

We MAY be able to rewrite the plugin to function with relative paths, but that is not on the road map at the moment. We will gladly estimate the cost for an investigation and possibly a fix.

[2019-03-18 11:42] #77 closed, assigned to nobody

[2019-03-18 11:43] #42 closed, assigned to nobody

[2019-03-18 11:44] #9 closed, assigned to nobody

[2019-04-26 12:47] MieWinstrup commented on #75
And this is still a problem with QGIS 3.6.2. Despite changing the path to absolute in the QGIS-project, the paths in a qlr-file are stored with relative paths. This means that QLR-files made with QGIS 3 does not work in the QLR-Browser. The issue needs to be fixed in QGIS before this works again.

Until then, people will have to create the qlrfiles with QGIS 2.18 - or manually correct the paths in

[2019-10-16 23:42] chleidersdorff opened #78 "TypeError: exceptions must derive from BaseException"
Here is the error message i get:

An error has occurred while executing Python code:

TypeError: exceptions must derive from BaseException
Traceback (most recent call last):
  File "C:/Users/christianl/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\QlrBrowser\qlrbrowser.py", line 188, in settingsUpdated
    self.dockwidget.addRootPath(self.settings.value("baseDirectory"))
  File "C:/Us

[2019-10-21 10:51] AsgerPetersen commented on #78
@chleidersdorff it looks like you have configured QLR browser to a directory with more than 1000 sub items. Unfortunately the code has a bug which prevents the user from seeing the real error message. This is the line which throws an error:
[code]
Please check that the root directory you have configured for the QLR browser is correct. If possible do not point to very large directory trees as the Q

[2019-10-21 10:54] AsgerPetersen commented on #78
We should fix the code so that `FileSystemRecursionException` is derived from `BaseException`

[2019-11-05 13:55] luxenborg commented on #44
Hi, Im having trouble understanding how this added feature works.

We have an official root folder for the most used layers.
We want to add a personal folder that only is visible for the active user. (so not in the same root directory). So exactly the same as Frederikssund's issue...

A solution would be to have a folder on our network for everyone and a folder on employees personal computer. For

[2019-11-07 07:18] AsgerPetersen commented on #44
Hi @luxenborg

The `New Feature` label means that this issue is a request for a new feature. The feature has not been implemented yet.

The reason we have not implemented it yet is that we do not have funding for it.

Best regards
Asger

[2019-11-07 07:27] luxenborg commented on #44
Oh... okay.  thanks anyway:-)

[2020-01-23 10:08] AsgerPetersen opened #79 "Exception when trying to reload qlrmanager if it wasnt loaded before"
If QlrBrowser is started with a rootpath which is too deep then qlrmanager is never loaded. If you then add a *valid* rootpath then https://github.com/Septima/qgis-qlrbrowser/blob/011c32cb29d23cf15bb067e5fce22574c36fff56/src/QlrBrowser/qlrbrowser.py#L189 will throw an exception.

[2020-01-23 10:27] #78 closed, assigned to nobody

[2020-01-23 10:27] #79 closed, assigned to AsgerPetersen

[2020-11-30 14:37] Jakob-Lanstorp opened #81 "QlrBrowers is very slow"
Not sure if this is related to https://github.com/Septima/qgis-qlrbrowser/issues/27.

We have a very large root folder, making the QlrBrowser active will freeze QGIS for several minutes. If you by mistake leave the QlrBrowser in front or visual active and closes QGIS, next start up of QGIS will take many minutes. If you don't have the QlrBrowser tab in front but say Layers or Browser tab in front

[2020-12-02 11:27] AsgerPetersen commented on #81
Hi @Jakob-Lanstorp

Thank you for your report.

It sounds like it is basically the same issue as #27 with a fix described in #31

If you are interested in discussing a fix please get in contact with @MieWinstrup

[2021-03-26 13:39] Geodataodense opened #82 "Can't read QLR-files with groups"
QLR-Browser fails when loading qrl-files.
qlr-files works fine when read manual from layers menu.
Works fine when read through the QLR-browser in QGIS-version 3.16

[2021-04-08 07:59] Geodataodense commented on #82
The problem seems to occur only when qlr-files are pointing at databasesource from a database.
qlr-example attashed
[Fredning (DAI).zip](https://github.com/Septima/qgis-qlrbrowser/files/6277023/Fredning.DAI.zip)

[2021-04-08 08:14] AsgerPetersen commented on #82
Hi @Geodataodense

Could you please clarify what it takes to make the QLR Browser fail? Do we have to use a specific QGIS version (you say that it works in 3.16)?

Thank you for reporting this issue.

[2021-04-08 09:16] Geodataodense commented on #82
I am using the latest version of QGIS an plugin.
The QLR-browser fails to load the qlr-file in QGIS 3.18.1 only.
It works fine when read through the QLR-browser in QGIS-version 3.16

We are happy users an depend on the plugin in Odense.
The QLR-browser makes it easy for the users to access all kinds off datasources. :-)

If it is a big issue let us now - perhaps  we can find a way to support you

[2021-04-12 06:34] MieWinstrup commented on #82
Hi.
Yes, thanks for reporting the issue.

I have tried to reproduce the problem by:

1. In QGIS 3.16 saving a qlr-file, pointing to a vector dataset in a Postgres-database, to the folder of the qlr-browser
2. Adding the qlr-file in QGIS 3.16 - works fine
3. Adding the qlr-file in QGIS 3.18 - works fine

We need some more details about the problem that you experience.

In QGIS 3.18 - can you add th

[2021-04-12 07:02] Geodataodense commented on #82
Hello Mie :-)
Did you succeed using attached - the qlr-file connecting to Geo Fyn.
The error messages is.
2021-04-12T08:54:45     WARNING    HTTP fetch ../../Direkte adgang/Fmk mislykkedes med fejl: Protokollen "" er ukendt
Give me a call if you cannot reproduce the issue

[2021-04-12 07:08] MieWinstrup commented on #82
Hi Peter,
Unfortunately, I can't test it with the attached qlr-file:

![image](https://user-images.githubusercontent.com/16276034/114354458-9006ba80-9b6e-11eb-8049-1d89c8dffabc.png)

[2021-04-12 07:12] Geodataodense commented on #82
Perhaps there is IP-validation on the database server

[2021-04-12 09:03] MieWinstrup commented on #82
The problem with loading a qlr-file from Qlr-browser in QGIS 3.18 happens when the layers in a qlr-file is a ordered in a group of layers.

Since the problem occurs when datasources in a group are from database or webservices (WMS, WFS), it seems like it is the group that makes the problem, and that is it not related to the kind of data (database, webservice etc.).

[2021-04-20 13:34] Geodataodense commented on #82
Can you fix the group-error in the QLR-code or is it a core-issue.
I have just installed QGIS 3.18.2-1 and the QLR-browser doesn't work properly here either

[2021-04-21 06:15] reginaldc commented on #82
I'm using Qgis 3.16.5 and I am having the same issues with qlrfiles derived from grouped layers. They used to show up correctly but it looks like something has changed and they don't show up anymore. There is also a lot of commented code in the qlrfiles. I don't remember that it was there before.

[2021-04-29 10:28] MieWinstrup commented on #82
We have estimated that the bugfix is something between 2 and 10 hours including packaging the plugin as a new version and upload to plugin repository. If anyone want to fund - or co-fund - the bugfix, please let me know (mie@septima.dk)

[2021-05-27 04:06] ChrisFranklin666 opened #83 "File system is too big for this file system model"
This was working yesterday, now its broken, can we remove the limit for folders?

QlrBrowser.core.filesystemmodel.FileSystemRecursionException: 'File system is too big for this file system model'
Traceback (most recent call last):
  File "C:/PROGRA~1/QGIS3~1.18/apps/qgis/./python\qgis\utils.py", line 360, in startPlugin
    plugins[packageName].initGui()
  File "C:/Users/chrifran/AppData/Roaming/Q

[2021-05-27 11:40] AsgerPetersen commented on #83
Hi @ChrisFranklin666

Thank you for raising this. The limit to the number of objects read from the file system was introduced to prevent QGIS from locking up for a long period of time if the user accidentally set the search path to for instance `C:\`. In that case the qlr-browser will block QGIS while it reads the entire C-drive which may take a long time. See #27 for an example of this problem. T

[2021-12-07 14:18] bvthomsen commented on #76
Just in case anybody is interested: QLR Browser works with QGIS ver 3.22 regarding GeoPackage based layers. I suggest, you close this issue

[2021-12-07 14:23] bvthomsen commented on #75
The underlying bug i QGIS : https://github.com/qgis/QGIS/issues/27497 is fixed. I suggest you close this issue

[2021-12-08 09:32] bvthomsen commented on #82
Solved if pull request https://github.com/Septima/qgis-qlrbrowser/pull/84#issue-1074183762 is implemented. in master

[2021-12-08 09:45] bvthomsen opened #85 "Add function to place new layer/groups at bottom of existing layers instead of always on top"
Feature request:

Implement user interface and a function to add groups/layers from qlr file either on the top or in the bottom of existing layers in mapper window.

Probably with a toggle button "Top" / "Bottom" alongside other button/edit field in qlrbrowser dialogue

[2021-12-09 12:17] #76 closed, assigned to nobody

[2021-12-09 12:18] #75 closed, assigned to nobody

[2021-12-21 13:02] MieWinstrup opened #89 "Add message when qlr-browser is loading"
Add a message when the qlr-browser is loading the files

[2021-12-21 13:25] klavspc commented on #89
Den skriver allerede nu _Loading..._ mens den loader

Send gerne screen shot (og kopi af qlr-mappen), hvor den ikke gør det

[2021-12-21 13:27] klavspc commented on #89
Prøv at trykke "Reload" så kan du se det (og samtidig se hvor lang tid det tager at loade)

[2021-12-21 13:28] #89 closed, assigned to klavspc

[2021-12-31 14:34] #82 closed, assigned to nobody

[2021-12-31 14:34] MieWinstrup commented on #82
[Fixed in version 3.0.0. ](https://github.com/Septima/qgis-qlrbrowser/releases/tag/v.3.0.0)

[2021-12-31 14:39] MieWinstrup commented on #31
Implemented with plugin [version 3.0.0](https://github.com/Septima/qgis-qlrbrowser/releases/tag/v.3.0.0)

[2021-12-31 14:39] #31 closed, assigned to nobody

[2021-12-31 14:40] MieWinstrup commented on #81
Async load implemented in [version 3.0.0](https://github.com/Septima/qgis-qlrbrowser/releases/tag/v.3.0.0)

[2021-12-31 14:40] #81 closed, assigned to nobody

[2021-12-31 14:42] MieWinstrup commented on #83
With asyn load in [version 3.0.0](https://github.com/Septima/qgis-qlrbrowser/releases/tag/v.3.0.0), the number is increased to 5000

[2022-01-12 09:31] #83 closed, assigned to nobody

[2022-03-21 09:04] AsgerPetersen opened #90 "TypeError: 'QVariant' object is not subscriptable when installing"
Jonas reported via email:

[2022-03-21 09:07] AsgerPetersen commented on #90
Suggested work around: Change QGIS display language.